<footer class="footer">
  <small>
    <a href="#">Ebime</a>
    by tohya
  </small>
  <nav>
    <ul>
<% if false %>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
<% end %>
    </ul>
  </nav>
</footer>
