<% if signed_in? %>
    <div class="col-md-3">
      <section id="profile">
        <%= render 'shared/user_info' %>
      </section><!-- #profile -->
      <section id="alert">
        ○月×日の勤怠と実績に相違があります。
        修正してください。<br><br><br><br>
      </section><!-- #alert -->
      <section id="status">
        <%= render 'shared/stats' %>
      </section><!-- #status -->
    </div>
    <div class="col-md-9">
      <section id="content">
        <%= yield %>
      </section><!-- #content -->
    </div>
<% else %>
  <%= yield %>
<% end %>
